@model IEnumerable<MasterShop.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="rounded shadow-md p-5 app-background mb-5">
    <div class="container">
        <h2>Orders Placed</h2>
        <div class="d-flex col-md-7 mb-2">
            <input class="form-control mr-2" id="order_search" placeholder="Enter account name" />
            <div style="cursor: pointer" onclick="toggle_visibility()">Advanced search <i class="fas fa-caret-down"></i></div>
            <div style="display: none" class="container_advanced pl-1">
                <h6>User Account:</h6>
                <input class="form-control" id="account_name_input" />
                <h6>From Price:</h6>
                <input type="number" class="form-control" id="price_input" />
                <h6>Created after:</h6>
                <input type="date" class="form-control" id="date_input" />
                <button type="button" class="btn btn-primary mr-5 mt-1" id="order_filter_btn">Search <i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Account)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SumToPay)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-container">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td id="search-column">
                                        @Html.DisplayFor(modelItem => item.Account.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SumToPay)
                                    </td>
                                    <td>
                                        <a asp-controller="Orders" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-controller="Orders" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" defer></script>
<script src="~/lib/jquery-ui/js/jquery-ui.js" defer></script>
<script type="text/javascript" src="~/js/search.js" defer></script>
<script type="text/javascript" src="~/js/orders-filter.js" defer></script>

<script type="text/javascript">
    function toggle_visibility() {
        var element = $(".container_advanced");
        if (element.css('display') == 'block')
            element.css('display', 'none');
        else
            element.css('display', 'block');
    }
</script>
<script id="search-results" type="text/html">
    <tr>
        <td id="search-column">
            ${account.fullName}
        </td>
        <td>
            ${orderTime}
        </td>
        <td>
            ${address}
        </td>
        <td>
            ${phoneNumber}
        </td>
        <td>
            ${sumToPay}
        </td>
        <td>
            <a asp-controller="Orders" asp-action="Edit" asp-route-id="${Id}">Edit</a> |
            <a asp-controller="Orders" asp-action="Details" asp-route-id="${Id}">Details</a> |
            <a asp-controller="Orders" asp-action="Delete" asp-route-id="${Id}">Delete</a>
        </td>
    </tr>
</script>
