@model MasterShop.Models.Product

@{
    ViewData["Title"] = "Details";
    var userType = Context.User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
    var isAdmin = userType != null && userType == "Admin";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="/@Html.DisplayFor(model => model.ImageUrl)" alt="" height="160" width="240">
        </dd>
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a> 
        <a asp-controller="Home" asp-action="AdminPage">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
