@model IEnumerable<MasterShop.Models.Product>
@{
    IEnumerable<MasterShop.Models.Category> categories = ViewData["Categories"] as IEnumerable<MasterShop.Models.Category>;
}
@{
    ViewData["Title"] = "Products";
}

@section Styles{
    <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css">
}

<div class="container">
    <h3 class="products-title text-center m-lg-5">Master Shop Products</h3>
    <div class="row">
        <div class="categories col-md-3 mb-2">
            <h5>Name</h5>
            <input class="form-control" id="product_name_input" />
            <br />
            <h5>Categories</h5>
            @foreach (var category in categories)
            {
                <div class="form-check">
                    <input class="form-check-input" name="category" type="checkbox" value="@category.Id" id="flexCheckDefault @category.Id">
                    <label class="form-check-label" for="flexCheckDefault @category.Id">
                        @Html.DisplayFor(modelItem => category.Name) (@category.Products.Count)
                    </label>
                </div>
            }

            <br />
            <h5>Price</h5>
            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
            <br />
            <input type="number" min=0 max="9900" oninput="validity.valid || (value='0');" id="min_price" class="price-range-field" />
            <input type="number" min=0 max="10000" oninput="validity.valid || (value='10000');" id="max_price" class="price-range-field" />
            <br />
            <div class="d-flex mt-lg-5">
                <button type="button" class="btn btn-primary mr-5" id="filter_submit_btn">Filter <i class="fas fa-filter"></i></button>
                <a asp-action="Index">
                    <input type="submit" value="Reset Filter" class="btn btn-secondary" />
                </a>
            </div>
        </div>
        <div class="col-md-9 justify-content-center" id="loader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-md-9 products-container" id="products-container">
            @foreach (var item in Model)
            {
                <div class="col product-item rounded">
                    <div class="product-image align-items-center">
                        @{
                            var base64 = Convert.ToBase64String(item.Image);
                            var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                        }
                        <img src="@imgSrc" alt="" height="160" width="240">
                    </div>
                    <div class="product-info align-items-center">
                        <h5 class="text-center">
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </h5>
                        <div class="product-price">
                            <h6>@Html.DisplayFor(modelItem => item.Price) NIS</h6>
                        </div>
                        <a asp-action="AddToCart" asp-route-id="@item.Id">
                            <input type="submit" value="Add To Cart" class="btn btn-primary" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="~/lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/js/products-filters.js"></script>

    <script id="filter-results" type="text/html">
        <div class="col product-item">
            <div class="product-image align-items-center">
                <img src="data:image/jpeg;base64,${image}" alt="" height="160" width="240">
            </div>
            <div class="product-info align-items-center">
                <h5 class="text-center">
                    <a href="/Products/Details/${id}">${name}</a>
                </h5>
                <div class="product-price">
                    <h6>${price} NIS</h6>
                </div>
                <a href="/Products/AddToCart/${id}">
                    <input type="submit" value="Add To Cart" class="btn btn-primary" />
                </a>
            </div>
        </div>
    </script>
}
